.body{
    background-image: url(../../estillo/img/Index_wallparer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 9% 30% ;
    background-color: rgba(2, 65, 65, 0.589);
    padding: 5%;

    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(1, 24, 24, 0.589);
    border-radius: 10%;
}
.label{

    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}
.verSenha{

    padding: 0 0px;
}
.enviar{ 
    display: flex;
    margin-bottom: 30px;  
    padding: 6px 25px;
}

.ariaLogin{
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0%;
}

.form button:hover{
    cursor: pointer;
}

@media (max-width: 576px){
    .form{
        display: flex;
        
        justify-content: center;
        align-items: center;
        
        height: 39em;

        border-style: none;
        background: none;
        width: 100%;
        margin: 0;
        padding: 0;   
        height: 80vh;
    }
    .enviar{
        
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 2rem;
    }
    .enviar button{
        height: 2rem;
        
    }
    
    .form label{
        font-size: 30px;
    }
    .form input{
        width: 80%;
        height: 2rem;
    }
    .form .botaoEnviar{
        width: 35%;
        
        color: aliceblue;
        font-size: 2rem;
        background-color: rgb(6, 6, 32);
        
        border-width: 5px;
        border-style: solid;
        border-color: rgba(54, 12, 12, 0.589);
        border-radius: 5rem;
    }

    .botaoCadastrar{

        color: aliceblue;
        font-size: 2rem;
        background-color: rgb(6, 6, 32);
        
        border-width: 5px;
        border-style: solid;
        border-color: rgba(54, 12, 12, 0.589);
        border-radius: 5rem;
    }

}