.body{
    background-image: url(../../estillo/img/Index_wallparer.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 9% 30% ;
    background-color: rgba(2, 65, 65, 0.589);
    padding: 5%;

    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(1, 24, 24, 0.589);
    border-radius: 10%;
}
.label{

    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}
.verSenha{
    /* margin-bottom: 30px;*/
    padding: 0 0px;
}
.enviar{ 
    display: flex;
    margin-bottom: 30px;  
    padding: 6px 25px;
}
/* .campo{
    display: flex;
    padding: 6px 25px;
} */
.ariaLogin{
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0%;
}
