.body{
    background-color: rgba(0, 0, 0, 0.150);
}
main{font-family: 'Roboto', sans-serif;}
.titulo{
    border-style: solid;
    border-width: 1rem 1rem 1rem 1rem;
    border-color:darkgray;
    border-radius: 1rem;
    
    background-color: darkgray;

    font-size: 1.5rem;
    margin: 2rem;

}
.listaPaginas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.paginasJogos{
    display: flex;
    flex-direction: column;
    
    border-style: solid;
    border-width: 1rem 1rem 2rem 1rem;
    border-color:darkgray;
    border-radius: 1rem;
    
    
    width: 12rem;
    height: 16rem;
    margin: 2rem;
    
    cursor: pointer;
}
.paginasSites{
    display: flex;
    flex-direction: column;
    
    border-style: solid;
    border-width: 1rem 1rem 2rem 1rem;
    border-color:darkgray;
    border-radius: 1rem;
    
    
    width: 12rem;
    height: 10rem;
    margin: 2rem;
    
    cursor: pointer;

}

.titulaJanela{
    margin-top: 8px;
    text-align: center;
}
.imagens{
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
}