
.cabecalho{
    display: flex;
    justify-content: space-between;
    background-image: url(../../estillo/img/baner_wallparer.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.icone{
    width: 18%;
    margin: 0px 50px;

}
.lista_links{
    display: flex;
}
.link{
    display: flex;
    margin: 50px;
    color: #FFF;
    text-decoration: none
}
.link li:hover{
    color: rgb(41, 39, 48);
}
