.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
    
    background-image: url(../../estillo/img/fundo-appJogos-heder.jpg);
}
.icone_rodape{
    width: 20%;
    height: 20%;
}
.rodape p{
    color: aliceblue;
    margin-bottom: 0.5rem;
}