.body{
    background-image: url(../../estillo/img/Index_wallparer.jpeg);

    background-repeat: no-repeat;
    background-size: contain;
}

main{font-family: 'Roboto', sans-serif;}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 9% 30% ;
    background-color: rgba(2, 65, 65, 0.589);
    padding: 5%;

    border-width: 0.5em;
    border-style: solid;
    border-color: rgba(1, 24, 24, 0.589);
    border-radius: 10%;
}
.label{
    
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
}
.enviar{
    margin-bottom: 30px;
    padding: 6px 25px;
}
.ariaLogin{
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0%;
}

.form button{
    font-size: 1.3rem;
    font-weight: bolder;
    border: 2px;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: rgb(97, 97, 97);
}

.form button:hover{
    cursor: pointer;
} 


@media (max-width: 576px){
    .body{
        background-size:cover;
    }
    .form{
        display: flex;
        
        justify-content: center;
        align-items: center;
        
        height: 78vh;

        border-style: none;
        background: none;
        width: 100%;
        margin: 0;
        padding: 0;   
    }
    
    .form label{
        font-size: 30px;
    }
    .form input{
        width: 80%;
        height: 2rem;
    }
    .form button{
        width: 35%;
        
        color: aliceblue;
        font-size: 2rem;
        background-color: rgb(6, 6, 32);
        
        border-width: 5px;
        border-style: solid;
        border-color: rgba(54, 12, 12, 0.589);
        border-radius: 5rem;
    }

}