/* :root{
    display: flex;
} */
.navCabecario{
    display: flex;
    justify-content: space-between;
    background-image: url(../../estillo/img/Hades-Hermis.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.icone{
    width: 18%;
    margin: 0px 50px;

}
.lista_links{
    display: flex;
}
.link_header{
    display: flex;
    margin: 50px;
    color: #FFF;
    text-decoration: none
}