.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url(../../estillo/img/bg.jpg);
}
.icone_rodape{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 23%;
    height: 23%;
}

.rodape p{
    color: aliceblue;
    margin-bottom: 0.5rem;
}